<!-- views/partials/comment.handlebars -->

<div class="card border-bottom" style="border: none" comment-id="{{this._id}}">
	<div class="card-body">
		<h5 class="card-title">{{this.title}}</h5>
		<p class="card-text">{{this.content}}</p>
		<button class="btn btn-link float-right delete-comment">Delete</button>
		<!-- Delete link -->
	</div>
</div>

