<!-- views/partials/comment.handlebars -->

<div class="card" style="border: none" comment-id="{{this._id}}">
	<div class="card-body">
		<h4 class="card-title">{{this.title}}</h4>
		<p class="card-text">{{this.content}}</p>
		<!-- Delete link -->
    	<button class="btn btn-link float-right delete-comment">Delete</button>
	</div>
</div>

