<div class="container-fluid my-3 text-nowrap white-space-nowrap">
	<div class="row px-0">
	{{#each genres}}
		<span class="badge badge-pill badge-light mr-1 mb-1">
            {{this.name}}
        </span>
    {{/each}}
	</div>
</div>