<div class="container">
<h1>Now Playing</h1>
    <div class="card-columns my-3">
        {{#each movies}}
         <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title display-6" style="font-size: 3vw">{{this.title}}</h4>
            </div>
            <a href="/movies/{{this.id}}" class="stretched-link"></a>
            <img class="card-img-bottom" alt="{{this.title}}" src="https://image.tmdb.org/t/p/w500{{this.poster_path}}">
        </div>
        {{/each}}
    </div>
</div>

