<!-- views/reviews-show.handlebars -->

<a href="/movies/{{review.movieId}}">Back to movie</a>
<div class="row mb-3">
  <div class="col-md-6 col-md-offset-3">

    <!-- Review form -->
    {{> review review=review}}

    <!-- Comment form -->
    {{> comment-form}}

    <!-- Show Comments -->
    <div id="comments">
        {{#each comments}}
            {{> comment}}
        {{/each}}
    </div>
    <hr>
  </div>
</div>
